{% extends "sil12VitrineBundle::layout.html.twig" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Authentification</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputEmail" class="col-sm-offset-1 col-sm-2 control-label">Email</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-10">
            Disposez-vous d'un mot de passe ?
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Non, je suis un nouveau client.
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Oui. Mon mot de passe est :
              </label>
            </div>

            </div>
        </div>
    </div>
</div>

{{render(controller('sil12VitrineBundle:Client:new'))}}

{% endblock %}