<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">

		<div class="panel-body">
			<div class="row">
				<div style="text-align:center;"><h3 style="font-family:'Lobster';font-size:4rem;">{{ chapeau.name }}</h3></div>
				<div class="col-md-8">
					{% if chapeau.stock <= 0 %}
						<div class="alert alert-danger">Cet article n'est plus en stock !</div>
					{% endif %}
					<a href="#" class="thumbnail"><img src="{{IMGpath}}" width="650px"></a>
					
				</div>
				<div class="col-md-4">
					<div class="caption">
						
						<p><b>Description : </b>{{ chapeau.description }}</p>
						<p><b>Prix : </b>{{ chapeau.price }} €</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% for  product in boughtWith %}
		id :{{ product.id }}
	{% endfor %}
	
</div>