{% extends "sil12VitrineBundle:BackOffice:layout.html.twig" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Back Office</h3>
        </div>
        <div class="panel-body">
            Bienvenue sur le Back Office !
        </div>
    </div>
</div>
{% endblock %}